@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #3CA6A6, #026773);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(242, 227, 213, 0.705);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #012E40;
    text-align: center;
    text-shadow: 1px 1px 2px #012330ea;
}

h2 {
    color: #024959;
}

p {
    text-align: justify;
}